.footer {
    color: black;
    padding-top: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #ff7e5f;  
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f); 
    background: linear-gradient(to right, #feb47b, #ff7e5f); 

}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}

li {
    list-style: none;
}


@media only screen and (max-width: 600px) {


    .columns {
        display: block;
    }

    .box1, .box2, .box3 {
        padding: 2px;
    }

}