.navBarContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #9EE0D9;
    padding: 17px;
}

.navBarLogo {
    grid-column: 1/2;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}

.searchBar {
    grid-column: 3;
}

.searchBar input{
    border-radius: 50px;
    height: 25px;
    width: 200px;
    border: none;
    background: none;
    font-size: 18px;
}

.navBarRecipe {
    grid-column: 5;
    text-align: center;
    cursor: pointer;
}

.navBarForum {
    grid-column: 6;
    text-align: center;
    cursor: pointer;
}

.navBarW {
    grid-column: 7;
    text-align: center;
    cursor: pointer;
}

.navBarSignIn {
    grid-column: 10;
    cursor: pointer;
}


