.navBarContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: orange;
    padding: 15px;
}

.navBarLogo {
    grid-column: 1/2;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;

}

.navBarRecipe {
    grid-column: 3;
    background-color: green;
    text-align: center;
}

.navBarForum {
    grid-column: 4;
    background-color: hotpink;
    text-align: center;
}

.navBarW {
    grid-column: 5;
    text-align: center;
    background-color: yellow;
}

.searchBar {
    grid-column: 7;
}

.navBarSignIn {
    grid-column: 10;
    cursor: pointer;
    background-color: blue;
}


